<h1><a href="http://huron.wedding/<%= encodeURIComponent(emoji) %>"><%= emoji %></a></h1>

<p><b><%= partyname || firstname %>,</b></p>

<p>We haven't heard from you yet, but would love to send you an invitation to our wedding.</p>

<p>Please visit this custom link to send us your address and get more details:</p>

<p><a href="http://huron.wedding/<%= encodeURIComponent(emoji) %>">huron.wedding/<%= emoji %></a></p>

<p>
  <i>With Love,</i><br />
  Lee + Ash
</p>
