<h1><a href="http://huron.wedding/<%= encodeURIComponent(emoji) %>"><%= emoji %></a></h1>

<p><b><%= partyname || firstname %>,</b></p>

<p>We haven't heard from you yet, but would love to know if you will be joining us.</p>

<p>Please RSVP online:</p>

<p><a href="http://huron.wedding/<%= encodeURIComponent(emoji) %>">huron.wedding/<%= emoji %></a></p>

<p>More details about the weekend schedule, where to stay, and other important information can be found on <a href="http://huron.wedding/">our website</a> after you RSVP.</p>

<p>
  <i>With Love,</i><br />
  Lee + Ash
</p>
