<html>
<head>
  <% include partials/meta.html.ejs %>
  <link rel="stylesheet" href="/style2.css" />
  <script src="//use.typekit.net/ohd3igy.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body class="rsvp" onload="document.body.setAttribute('class','rsvp loaded')">
<header>
  <div class="meat">
    <a href="/" target="_blank" class="rsvp-meat-link">


      <svg version="1.1" viewBox="0 0 184 184" class="rsvp-circle">
      <linearGradient id="warmombre" x1="0" x2="0" y1="0" y2="1">
        <stop offset="5%" stop-color="#DCA497" />
        <stop offset="95%" stop-color="#728AB6" />
      </linearGradient>
      <path d="M54.9,21.7c0.1,0.2,0.4,0.3,0.7,0.2l5.5-2.5c0.2-0.1,0.4-0.4,0.3-0.6l-0.5-1.1c-0.1-0.2-0.4-0.3-0.7-0.2
        l-3.9,1.8l-3.5-7.6c-0.1-0.2-0.4-0.3-0.7-0.2L51,12c-0.2,0.1-0.4,0.4-0.3,0.6L54.9,21.7z M63.2,18c0.1,0.3,0.4,0.4,0.6,0.3l5.8-1.8
        c0.3-0.1,0.4-0.4,0.3-0.6l-0.3-1.1c-0.1-0.3-0.4-0.4-0.6-0.3L65,15.8l-0.7-2.3l3.2-1c0.3-0.1,0.4-0.4,0.3-0.6l-0.3-1.1
        c-0.1-0.3-0.4-0.4-0.6-0.3l-3.2,1L63,9.3l4.1-1.2c0.3-0.1,0.4-0.4,0.3-0.6l-0.3-1.1C67,6.1,66.7,6,66.5,6.1l-5.8,1.8
        c-0.3,0.1-0.4,0.4-0.3,0.6L63.2,18z M72.6,15.8l6-1.2c0.3-0.1,0.4-0.3,0.4-0.6l-0.2-1.2c-0.1-0.3-0.3-0.4-0.6-0.4L74,13.3L73.6,11
        l3.2-0.6c0.3-0.1,0.4-0.3,0.4-0.6L77,8.7c-0.1-0.3-0.3-0.4-0.6-0.4l-3.2,0.6l-0.4-2.2l4.2-0.8c0.3-0.1,0.4-0.3,0.4-0.6l-0.2-1.1
        C77,4,76.8,3.8,76.5,3.8l-6,1.2c-0.3,0.1-0.4,0.3-0.4,0.6l1.9,9.8C72.1,15.7,72.4,15.8,72.6,15.8z M98.8,14.1l1.5,0.3
        c0.1,0,0.3,0,0.4-0.2l1-1.7l4.1,0.7l0.3,2c0,0.1,0.1,0.3,0.4,0.3l1.6,0.3c0.2,0,0.4-0.1,0.4-0.3c0-0.1,0-0.4-0.1-0.4l-1.8-10.3
        c0-0.1-0.1-0.4-0.4-0.4L104.4,4c-0.3,0-0.5,0.1-0.5,0.3l-5.3,9.2c0,0.1-0.1,0.2-0.1,0.3C98.4,13.9,98.5,14.1,98.8,14.1z M104.8,6.7
        l0.6,4.3l-2.7-0.5L104.8,6.7z M113.5,17.6c2,0.6,4.2,0.4,4.9-1.9c1.3-4.1-4.6-4.6-4-6.5c0.3-0.8,0.9-0.8,1.9-0.5
        c1,0.3,1.1,1,1.1,1.5c0,0.3,0.1,0.5,0.4,0.6l1.3,0.4c0.3,0.1,0.5-0.1,0.6-0.3c0.5-1.5-0.4-3.3-2.7-4c-2.6-0.8-4.2-0.1-4.8,1.7
        c-1.3,4,4.6,4.4,4,6.5c-0.3,0.9-0.9,1.1-2.1,0.7c-1.6-0.5-1.4-1.7-1.4-2c0-0.2-0.1-0.5-0.3-0.5l-1.2-0.4c-0.3-0.1-0.5,0.1-0.6,0.3
        C110,14.5,110.7,16.7,113.5,17.6z M119.8,19.6l1.2,0.6c0.2,0.1,0.5,0,0.7-0.2l1.7-3.6l3.4,1.6l-1.7,3.6c-0.1,0.2,0,0.5,0.2,0.7
        l1.2,0.6c0.2,0.1,0.5,0,0.7-0.2l4.3-9c0.1-0.2,0-0.5-0.2-0.7l-1.2-0.6c-0.2-0.1-0.5,0-0.7,0.2l-1.7,3.5l-3.4-1.6l1.7-3.5
        c0.1-0.2,0-0.5-0.2-0.7l-1.2-0.6c-0.2-0.1-0.5,0-0.7,0.2l-4.3,9C119.5,19.2,119.6,19.5,119.8,19.6z M22.4,129.3l-0.9-1.6
        c-0.1-0.2-0.4-0.3-0.5-0.3l-10.5,1.6c-0.1,0-0.2,0-0.3,0.1c-0.2,0.1-0.2,0.3-0.1,0.5l0.7,1.3c0.1,0.1,0.2,0.3,0.4,0.2l2-0.3l2,3.7
        l-1.4,1.5c-0.1,0.1-0.2,0.3,0,0.5l0.8,1.4c0.1,0.2,0.3,0.3,0.5,0.2c0.1-0.1,0.3-0.3,0.3-0.3l7-7.8C22.4,129.8,22.5,129.5,22.4,129.3
        z M16.7,132.9l-1.3-2.4l4.3-0.7L16.7,132.9z M27.2,143.1l0.4-0.3c1.8-1.3,1.8-3.2,0.6-4.7l-2.6-3.5c-0.2-0.2-0.5-0.3-0.7-0.1l-8,5.9
        c-0.2,0.2-0.3,0.5-0.1,0.7l0.8,1.1c0.2,0.2,0.5,0.3,0.7,0.1l2.7-2l1,1.4l-1.7,3.4c-0.1,0.2-0.2,0.4,0,0.6l1,1.3
        c0.1,0.2,0.3,0.2,0.5,0.1c0.1-0.1,0.2-0.2,0.3-0.4l1.7-3.5C24.8,144.2,26,144,27.2,143.1z M24,140.9l-1.4-1.8l2.3-1.7l1.4,1.8
        c0.4,0.6,0.5,1.3-0.3,1.9l-0.2,0.1C25.1,141.8,24.4,141.5,24,140.9z M36.1,147.1l-4.2-4.4c-0.2-0.2-0.5-0.2-0.7,0l-7.2,6.9
        c-0.2,0.2-0.2,0.5,0,0.7l4.2,4.4c0.2,0.2,0.5,0.2,0.7,0l0.9-0.8c0.2-0.2,0.2-0.5,0-0.7l-2.9-3.1l1.7-1.6l2.3,2.4
        c0.2,0.2,0.5,0.2,0.7,0l0.8-0.8c0.2-0.2,0.2-0.5,0-0.7L30,147l1.6-1.5l2.9,3.1c0.2,0.2,0.5,0.2,0.7,0l0.8-0.8
        C36.2,147.6,36.2,147.3,36.1,147.1z M44.9,160.2l-2.8-2.1c-0.2-0.2-0.5-0.1-0.7,0.1l-0.6,0.9c-0.2,0.2-0.1,0.5,0.1,0.7l1.4,1
        l-0.2,0.3c-0.5,0.6-1.6,1-2.7,0.2c-1-0.7-1.3-2-0.3-3.3l1.2-1.7c0.9-1.3,2.2-1.4,3.2-0.7c1,0.8,0.9,1.7,0.6,2.3
        c-0.1,0.3-0.1,0.5,0.1,0.6l1.3,1c0.2,0.1,0.4,0.1,0.5-0.1c0-0.1,0.1-0.1,0.1-0.2c0.9-1.5,0.7-3.8-1.4-5.4c-2.1-1.5-4.7-1.1-6.3,1.1
        l-1.2,1.7c-1.6,2.2-1.3,4.7,0.8,6.3c0.9,0.7,1.9,0.8,2.6,0.6l-0.2,0.3c-0.2,0.2-0.1,0.5,0.1,0.7l0.8,0.6c0.2,0.2,0.5,0.1,0.7-0.1
        l3.1-4.3C45.1,160.7,45.1,160.4,44.9,160.2z M55.7,160.9l-5.3-2.9c-0.2-0.1-0.5,0-0.7,0.2l-4.8,8.8c-0.1,0.2,0,0.5,0.2,0.7l5.3,2.9
        c0.2,0.1,0.5,0,0.7-0.2l0.6-1c0.1-0.2,0-0.5-0.2-0.7l-3.7-2l1.1-2.1l2.9,1.6c0.2,0.1,0.5,0,0.7-0.2l0.6-1c0.1-0.2,0-0.5-0.2-0.7
        l-2.9-1.6l1.1-1.9l3.7,2c0.2,0.1,0.5,0,0.7-0.2l0.6-1C56.1,161.4,56,161.1,55.7,160.9z M65.1,164.8l-7.1-2.8c-0.3-0.1-0.5,0-0.6,0.3
        l-0.4,1.1c-0.1,0.2,0,0.5,0.3,0.6l2.5,1l-3.1,7.8c-0.1,0.2,0,0.5,0.3,0.6l1.2,0.5c0.3,0.1,0.5,0,0.6-0.3l3.1-7.8l2.5,1
        c0.3,0.1,0.5,0,0.6-0.3l0.4-1.1C65.4,165.2,65.3,164.9,65.1,164.8z M74.5,167.4l-7.4-1.9c-0.3-0.1-0.5,0.1-0.6,0.3l-0.3,1.1
        c-0.1,0.3,0.1,0.5,0.4,0.6l2.6,0.7l-2.1,8.1c-0.1,0.3,0.1,0.5,0.4,0.6l1.3,0.3c0.3,0.1,0.5-0.1,0.6-0.3l2.1-8.1l2.6,0.7
        c0.3,0.1,0.5-0.1,0.6-0.3l0.3-1.1C75,167.8,74.8,167.5,74.5,167.4z M78.6,168.1l-1.3-0.2c-0.3,0-0.5,0.1-0.6,0.4l-1.6,9.9
        c0,0.3,0.1,0.5,0.4,0.6l1.3,0.2c0.3,0,0.5-0.1,0.6-0.4l1.6-9.9C79,168.3,78.9,168.1,78.6,168.1z M89.8,169l-1.3-0.1
        c-0.3,0-0.5,0.2-0.5,0.5l-0.3,6.4l-3.4-6.7c-0.1-0.1-0.3-0.4-0.6-0.4l-1.7-0.1c-0.3,0-0.5,0.2-0.5,0.5l-0.5,10
        c0,0.3,0.2,0.5,0.5,0.5l1.3,0.1c0.3,0,0.5-0.2,0.5-0.5l0.4-7l3.6,7.1c0.3,0.6,0.6,0.6,0.7,0.6l1.3,0.1c0.3,0,0.5-0.2,0.5-0.5l0.5-10
        C90.3,169.2,90,169,89.8,169z M100.9,173l-3.5,0.3c-0.3,0-0.5,0.3-0.5,0.5l0.1,1.1c0,0.3,0.3,0.5,0.5,0.4l1.8-0.2l0,0.4
        c0.1,0.8-0.6,1.8-1.9,2c-1.2,0.1-2.2-0.7-2.4-2.3l-0.2-2.1c-0.1-1.6,0.7-2.5,1.9-2.7c1.3-0.1,1.8,0.7,2,1.4c0.1,0.3,0.2,0.4,0.4,0.4
        l1.6-0.1c0.2,0,0.3-0.2,0.3-0.4c0-0.1,0-0.2,0-0.2c-0.3-1.7-1.9-3.4-4.5-3.2c-2.6,0.2-4.3,2.2-4.1,4.9l0.2,2.1
        c0.2,2.7,2.1,4.4,4.7,4.2c1.1-0.1,2-0.6,2.4-1.2l0,0.4c0,0.3,0.3,0.5,0.5,0.4l1-0.1c0.3,0,0.5-0.3,0.5-0.5l-0.4-5.2
        C101.4,173.2,101.2,173,100.9,173z M118.6,164.2c-0.1-0.3-0.4-0.4-0.6-0.3l-2.1,0.6c-0.2,0.1-0.2,0.2-0.3,0.4l-0.4,8l-4.8-6.4
        c-0.1-0.1-0.2-0.2-0.4-0.1l-2.1,0.7c-0.3,0.1-0.4,0.4-0.3,0.6l2.9,9.6c0.1,0.3,0.4,0.4,0.6,0.3l1.1-0.4c0.3-0.1,0.4-0.4,0.3-0.6
        l-2-6.6l4.6,6c0.1,0.2,0.3,0.2,0.5,0.2l1.2-0.4c0.2-0.1,0.3-0.2,0.3-0.4l0.3-7.5l2,6.6c0.1,0.3,0.4,0.4,0.6,0.3l1.2-0.4
        c0.3-0.1,0.4-0.4,0.3-0.6L118.6,164.2z M133.3,167.9l-7.5-7.3c-0.1-0.1-0.3-0.2-0.6-0.1l-1.6,0.8c-0.2,0.1-0.3,0.4-0.3,0.5l1.1,10.6
        c0,0.1,0,0.2,0.1,0.3c0.1,0.2,0.3,0.2,0.5,0.1l1.4-0.7c0.1-0.1,0.3-0.2,0.2-0.4l-0.3-2l3.7-1.8l1.4,1.4c0.1,0.1,0.3,0.2,0.5,0.1
        l1.4-0.7c0.2-0.1,0.3-0.3,0.2-0.5C133.5,168.2,133.3,168,133.3,167.9z M126.1,167.6l-0.5-4.3l3,3.1L126.1,167.6z M142.7,161.8
        l-3.4-1.8c0.9-1.2,0.8-2.4,0-3.6l-0.3-0.4c-1.2-1.8-3.1-1.9-4.7-0.8l-3.6,2.4c-0.2,0.2-0.3,0.5-0.1,0.7l5.6,8.3
        c0.1,0.2,0.5,0.3,0.7,0.1l1.1-0.7c0.2-0.2,0.3-0.5,0.1-0.7l-1.8-2.7l1.4-1l3.3,1.9c0.2,0.1,0.4,0.2,0.6,0l1.3-0.9
        c0.2-0.1,0.2-0.3,0.1-0.5C143,161.9,142.8,161.8,142.7,161.8z M136.9,159.4l-1.9,1.3l-1.6-2.4l1.9-1.3c0.6-0.4,1.3-0.4,1.9,0.4
        l0.1,0.2C137.8,158.4,137.6,159,136.9,159.4z M151.5,154.3l-3.6-1.4c0.7-1.3,0.5-2.5-0.5-3.6L147,149c-1.5-1.6-3.3-1.5-4.8-0.2
        l-3.2,2.9c-0.2,0.2-0.2,0.5-0.1,0.7l6.6,7.5c0.2,0.2,0.5,0.2,0.7,0l1-0.9c0.2-0.2,0.2-0.5,0.1-0.7l-2.2-2.5l1.3-1.1l3.6,1.4
        c0.2,0.1,0.4,0.1,0.6-0.1l1.2-1.1c0.2-0.1,0.2-0.3,0-0.5C151.8,154.4,151.6,154.4,151.5,154.3z M145.4,152.8l-1.7,1.5l-1.9-2.2
        l1.7-1.5c0.6-0.5,1.2-0.6,1.9,0.1l0.1,0.2C146.2,151.6,146,152.3,145.4,152.8z M148.2,143.6c-0.2-0.2-0.5-0.2-0.7,0l-0.9,1
        c-0.2,0.2-0.2,0.5,0,0.7l7.3,6.8c0.2,0.2,0.5,0.2,0.7,0l0.9-1c0.2-0.2,0.2-0.5,0-0.7L148.2,143.6z M161.2,141.6
        c-0.2-0.2-0.5-0.1-0.7,0.1l-2.6,3.4l-1.9-1.4l2-2.6c0.2-0.2,0.1-0.5-0.1-0.7l-0.9-0.7c-0.2-0.2-0.5-0.1-0.7,0.1l-2,2.6l-1.7-1.4
        l2.6-3.4c0.2-0.2,0.1-0.5-0.1-0.7l-0.9-0.7c-0.2-0.2-0.5-0.1-0.7,0.1l-3.7,4.8c-0.2,0.2-0.1,0.5,0.1,0.7l7.9,6.1
        c0.2,0.2,0.5,0.1,0.7-0.1l3.7-4.8c0.2-0.2,0.1-0.5-0.1-0.7L161.2,141.6z M164.7,130.2l-1.6-0.9c-2.4-1.4-4.9-0.7-6.2,1.6l-1.8,3
        c-0.1,0.2-0.1,0.5,0.2,0.7l8.6,5.1c0.2,0.1,0.5,0.1,0.7-0.2l1.8-3C167.7,134.2,167.1,131.6,164.7,130.2z M164.5,135.3l-0.8,1.4
        l-5.7-3.4l0.8-1.4c0.6-1,1.8-1.4,3.2-0.6l1.5,0.9C164.9,133,165.1,134.3,164.5,135.3z M153.8,37.6l-3.6-0.2c-0.3,0-0.5,0.2-0.5,0.5
        c0,0.3,0.2,0.5,0.5,0.5l4.5,0.2c2.1,2.6,4.1,5.3,5.8,8.1l-3.5-0.7c-0.3-0.1-0.6,0.1-0.6,0.4c-0.1,0.3,0.1,0.6,0.4,0.6l4.5,0.9
        c0.7,1.1,1.3,2.2,1.9,3.3l-3.5-0.9c-0.3-0.1-0.6,0.1-0.6,0.4c-0.1,0.3,0.1,0.6,0.4,0.6l4.7,1.3c0,0,0.1,0,0.1,0
        c0.2,0,0.4-0.2,0.5-0.4l1.3-4.7c0.1-0.3-0.1-0.6-0.4-0.6c-0.3-0.1-0.6,0.1-0.6,0.4l-1,3.5c-0.6-1.1-1.2-2.2-1.9-3.2l1-4.7
        c0.1-0.3-0.1-0.6-0.4-0.6c-0.3-0.1-0.6,0.1-0.6,0.4l-0.7,3.6c-1.8-2.8-3.7-5.5-5.8-8.1l0.2-4.9c0-0.3-0.2-0.5-0.5-0.5
        c-0.3,0-0.5,0.2-0.5,0.5l-0.2,3.7c-2.1-2.5-4.3-4.9-6.7-7.1c-0.2-0.2-0.5-0.2-0.7,0c-0.2,0.2-0.2,0.5,0,0.7
        C149.6,32.8,151.8,35.2,153.8,37.6z M174.2,92l-1.6,1.9c-0.1,0.2-0.2,0.4,0,0.6l1.2,1.7l-1.4,1.5c-0.2,0.2-0.2,0.4-0.1,0.6l1.1,1.7
        l-1.4,1.5c-0.2,0.2-0.2,0.4-0.1,0.6l1,1.8l-1.5,1.4c-0.2,0.2-0.2,0.4-0.1,0.6l1.1,2.2c0.1,0.2,0.3,0.3,0.5,0.3c0.1,0,0.2,0,0.2-0.1
        c0.3-0.1,0.4-0.4,0.2-0.7l-0.9-1.9l1.5-1.4c0.2-0.2,0.2-0.4,0.1-0.6l-1-1.8l1.5-1.5c0.2-0.2,0.2-0.4,0.1-0.6l-1.1-1.8l1.4-1.5
        c0.2-0.2,0.2-0.4,0-0.6l-1.2-1.7l1.3-1.6c0.2-0.2,0.1-0.6-0.1-0.7C174.7,91.8,174.4,91.8,174.2,92z M11.8,67.1
        c0.1,0.2,0.3,0.3,0.5,0.3c0.1,0,0.1,0,0.2,0c0.3-0.1,0.4-0.4,0.3-0.7l-0.7-1.9l1.7-1.1c0.2-0.1,0.3-0.4,0.2-0.6l-0.6-2l1.8-1.1
        c0.2-0.1,0.3-0.4,0.2-0.6l-0.5-2l1.8-1c0.2-0.1,0.3-0.3,0.3-0.6l-0.4-2l1.9-0.9c0.3-0.1,0.4-0.4,0.2-0.7c-0.1-0.3-0.4-0.4-0.7-0.2
        l-2.2,1.1c-0.2,0.1-0.3,0.3-0.3,0.6l0.4,2l-1.8,1c-0.2,0.1-0.3,0.4-0.3,0.6l0.5,2l-1.8,1.1c-0.2,0.1-0.3,0.4-0.2,0.6l0.6,2l-1.7,1.1
        c-0.2,0.1-0.3,0.4-0.2,0.6L11.8,67.1z M21.5,45.3c0.1,0.1,0.2,0.1,0.3,0.1c0,0,0.1,0,0.1,0l4.8-0.8c0.3,0,0.5-0.3,0.4-0.6
        c0-0.3-0.3-0.5-0.6-0.4l-4.3,0.7L21.6,40c0-0.3-0.3-0.5-0.6-0.4c-0.3,0-0.5,0.3-0.4,0.6l0.8,4.9C21.3,45.1,21.4,45.2,21.5,45.3z
         M24.5,41c0.1,0.1,0.2,0.1,0.3,0.1c0,0,0,0,0.1,0l4.9-0.5c0.3,0,0.5-0.3,0.5-0.6c0-0.3-0.3-0.5-0.6-0.5L25.3,40l-0.4-4.4
        c0-0.3-0.3-0.5-0.6-0.5c-0.3,0-0.5,0.3-0.5,0.6l0.5,4.9C24.4,40.8,24.4,40.9,24.5,41z M32.4,32.4l4.9,0.3c0,0,0,0,0,0
        c0.3,0,0.5-0.2,0.5-0.5c0-0.3-0.2-0.5-0.5-0.6l-4.4-0.2l0.2-4.4c0-0.3-0.2-0.5-0.5-0.6c-0.3,0-0.5,0.2-0.6,0.5l-0.3,4.9
        c0,0.1,0,0.3,0.1,0.4C32.1,32.3,32.2,32.4,32.4,32.4z M10.4,111.8c0.2,0,0.3-0.1,0.4-0.2l2.7-4.1c0.2-0.2,0.1-0.6-0.2-0.7
        c-0.2-0.2-0.6-0.1-0.7,0.2l-2,3c-1.5-6.7-2.3-13.5-2.1-20.4C8.5,89.3,8.3,89,8,89c-0.3,0-0.5,0.2-0.5,0.5
        c-0.1,6.9,0.6,13.9,2.2,20.6l-3.1-2c-0.2-0.2-0.6-0.1-0.7,0.2c-0.2,0.2-0.1,0.6,0.2,0.7l4.1,2.7C10.2,111.8,10.3,111.8,10.4,111.8z
         M6.3,81.1l2.7-2.3l2.3,2.7c0.1,0.1,0.2,0.2,0.4,0.2c0.1,0,0.2,0,0.3-0.1c0.2-0.2,0.2-0.5,0.1-0.7l-2.3-2.7l2.7-2.3
        c0.2-0.2,0.2-0.5,0.1-0.7c-0.2-0.2-0.5-0.2-0.7-0.1l-2.7,2.3l-2.3-2.7c-0.2-0.2-0.5-0.2-0.7-0.1C5.9,74.7,5.9,75,6,75.3L8.4,78
        l-2.7,2.3c-0.2,0.2-0.2,0.5-0.1,0.7c0.1,0.1,0.3,0.2,0.4,0.2C6.1,81.2,6.2,81.2,6.3,81.1z M86.9,7.9h2.7v2.7c0,0.3,0.2,0.5,0.5,0.5
        c0.3,0,0.5-0.2,0.5-0.5V7.9h2.7c0.3,0,0.5-0.2,0.5-0.5s-0.2-0.5-0.5-0.5h-2.7V4.1c0-0.3-0.2-0.5-0.5-0.5c-0.3,0-0.5,0.2-0.5,0.5v2.7
        h-2.7c-0.3,0-0.5,0.2-0.5,0.5S86.6,7.9,86.9,7.9z M173.5,63.5c0-1-0.3-2-1-2.7c-0.7-0.7-1.6-1.1-2.6-1.2c-1,0-2,0.3-2.7,1
        c-0.7,0.7-1.1,1.6-1.2,2.6s0.3,2,1,2.7c0.7,0.7,1.6,1.1,2.6,1.2c0,0,0.1,0,0.1,0C171.8,67.1,173.5,65.5,173.5,63.5z M169.7,66.1
        c-0.7,0-1.4-0.3-1.9-0.8c-0.5-0.5-0.8-1.2-0.8-1.9c0-0.7,0.3-1.4,0.8-1.9c0.5-0.5,1.2-0.8,1.9-0.8c0,0,0,0,0.1,0
        c0.7,0,1.4,0.3,1.9,0.8c0.5,0.5,0.8,1.2,0.8,1.9c0,0.7-0.3,1.4-0.8,1.9C171.1,65.8,170.5,66.1,169.7,66.1z M177.6,77.9l-6.8-2.5
        c-0.2-0.1-0.4,0-0.5,0.1c-0.1,0.1-0.2,0.3-0.2,0.5l1.2,7.2c0,0.2,0.2,0.3,0.3,0.4c0.1,0,0.1,0,0.2,0c0.1,0,0.2,0,0.3-0.1l5.6-4.6
        c0.1-0.1,0.2-0.3,0.2-0.5C177.9,78.1,177.8,78,177.6,77.9z M172.2,82l-0.9-5.4l5.1,1.9L172.2,82z"/>
      </svg>

      </a>
    </div>
  </header>

  <section>
    <div class="content">

      <h4><%= partyname || firstname %>,</h4>

      <% if (rsvptime) { %>
        <p>We've received your RSVP. Let us know if anything has changed, otherwise <a href="/">continue to our site for details</a>.</p>
      <% } else { %>
        <p>We're so excited to celebrate with you. Will you be there?</p>
      <% } %>

      <form id="rsvp" method="post" action="/<%= emoji %>/rsvp">

        <input class="attending-radio" id="attending-yes" type="radio" name="attending" value="yes" onchange="updateAttendance(this.form)" />
        <label for="attending-yes">
          I'll be there!
        </label>

        <input class="attending-radio" type="radio" id="attending-no" name="attending" value="no" onchange="updateAttendance(this.form)" />
        <label for="attending-no">
          Sadly, I can't attend.
        </label>

        <div class="other-questions" id="attending-no-form" style="display: none;">
          <h4>We're sorry to hear that.</h4>
          <p>Hopefully we'll see each other another time soon.</p>

          <label>
            Anything else?
            <textarea name="noMessage" placeholder="Leave us a message!"></textarea>
          </label>
        </div>

        <div class="other-questions" id="attending-yes-form" style="display: none;">
          <h4>We can't wait to see you!</h4>

          <% if (rows.length > 1) { %>
          <div class="party-members">
            <p>Who all is attending?</p>
            <% rows.forEach(row => { %>
            <label>
              <input type="checkbox" name="party[<%= row.firstname %> <%= row.lastname %>]" checked />
              <h4><%= row.firstname %> <%= row.lastname %></h4>
            </label>
            <% }) %>
          </div>
          <% } else { %>
          <input type="hidden" name="party[<%= firstname %> <%= lastname %>]" value="on" />
          <% } %>

          <p>
            Which events will you be attending?
          </p>

          <div class="event-rsvp">
            <h3>Thursday May 4th</h3>

            <label>
              <input type="checkbox" name="earlyBird" />
              <h4>Early Bird Happy Hour</h4>
              <p class="meta">5pm - 7pm</p>
            </label>

            <h3>Friday May 5th</h3>

            <label>
              <input type="checkbox" name="formalFeast" checked />
              <h4>Formal Feast</h4>
              <p class="meta">6pm - 8pm</p>
            </label>

            <h3>Saturday May 6th</h3>

            <label>
              <input type="checkbox" name="poolParty" checked />
              <h4>Pool Party</h4>
              <p class="meta">10am - 4pm</p>
            </label>

            <label>
              <input type="checkbox" name="ceremony" checked />
              <h4>Ceremony &amp; Reception</h4>
              <p class="meta">6:30pm - 11pm</p>
            </label>
          </div>

          <% if (rows.length === 1) { %>
          <label>
            Will you be bringing anyone?
            <textarea name="plusOne" placeholder="Please include their full name."></textarea>
          </label>
          <% } else { %>
          <label>
            Will you be bringing any kids?
            <textarea name="kids" placeholder="Please include their names and the events they will be joining."></textarea>
          </label>
          <% } %>

          <label>
            Dietary restrictions?
            <textarea name="diet" placeholder="Or food allergies? Or do you not drink alcohol?"></textarea>
          </label>

          <label>
            Anything else?
            <textarea name="yesMessage" placeholder="Leave us a message!"></textarea>
          </label>
        </div>

        <input id="submit-button" type="submit" value="Send your reply" style="display: none;" />
      </form>
      <script>
        function updateAttendance(form) {
          document.getElementById('attending-yes-form').style.display =
            form.attending.value === 'yes' ? 'block' : 'none';
          document.getElementById('attending-no-form').style.display =
            form.attending.value === 'no' ? 'block' : 'none';

          document.getElementById('submit-button').style.display =
            form.attending.value !== '' ? 'block' : 'none';

          if (form.attending.value) {
            window.location = '#rsvp';
          }
        }
        updateAttendance(document.getElementById('rsvp'));
      </script>

    </div>
  </section>

  <footer>
  </footer>

  <% include partials/analytics.html.ejs %>
</body>
</html>
